.recent-color-tr {
	height: 40px;
}


.recent-color-td {
	width: 40px;
	height: 40px;
}

.name-input {
	width: 250px;
}

.size-input {
	max-width: 42px;
}

.cell-size-input {
	max-width: 60px;
	margin-right: 20px;
}