<md-card>
	<md-card-content>
		Selected Color:
		<input type="color" (change)="colorSelected()"  [(ngModel)]="selectedColor" style="width:60px;">
		<br>
		Recent Colors:
		<table>
			<tr>
				<td [style.background]="recentColor1" (click)="recentSelected(recentColor1)"></td>
				<td [style.background]="recentColor2" (click)="recentSelected(recentColor2)"></td>
				<td [style.background]="recentColor3" (click)="recentSelected(recentColor3)"></td>
			</tr>
		</table>
		<br>
		<md-input-container class="cell-size-input">
			<input mdInput placeholder="Cell Size" [(ngModel)]="cellSize" />
		</md-input-container>
		<br>
		<md-input-container class="size-input">
			<input mdInput placeholder="Width" [(ngModel)]="width" />
		</md-input-container>
		<md-input-container class="size-input">
			<input mdInput placeholder="Height" [(ngModel)]="height" />
		</md-input-container>
		<button md-button (click)="changeSize()" >Update</button>
	<!-- It might be a good idea to use a material 2 table once one exists -->
		<table>
        	<tr *ngFor="let cellRow of cellGrid">
        		<td 
        			*ngFor="let cell of cellRow" 
        			[style.width]="cellSize + 'px'" 
        			[style.height]="cellSize + 'px'" 
        			[style.background]="cell.selected ? cell.color : '#ffffff'" 
        			(click)="selectCell(cell)"
        		>
        		</td>
        	</tr>
        </table>
    </md-card-content>
</md-card>