<md-card class="mat-card-table">
	<md-card-header class="no-card-subtitle">
		<md-card-title>Saved Pattern Grids</md-card-title>
	</md-card-header>
	<md-card-content> <!-- @todo once material 2 has a data table use it -->
		<table>
			<tr>
				<th class="id">ID</th>
				<th>Name</th>
				<th>Dimensions</th>
				<th></th>
			</tr>
			<tr *ngFor="let pattern of allPatterns">
				<td class="id">{{pattern.id}}</td>
				<td><a (click)="selectPattern(pattern.id)">{{pattern.name}}</a></td>
				<td>{{pattern.grid_width}} x {{pattern.grid_height}}</td>
				<td *ngIf="!showDeactivated">
                	<button md-icon-button [mdMenuTriggerFor]="menu">
                		<md-icon>more_vert</md-icon>
                	</button>
                	<md-menu #menu="mdMenu">
                		<button md-menu-item (click)="deletePattern(pattern.id)">
                			<span>Delete</span>
                		</button>
                	</md-menu>
                </td>
			</tr>
		</table>
		<div *ngIf="!allPatterns || allPatterns.length == 0">No patterns to display. Please create a new one...</div>
		<button md-button routerLink="patterngrid">
			<md-icon>add_circle</md-icon>
			<span>New pattern grid</span>
		</button>
	</md-card-content>
</md-card>